<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>Books & Media Listing</h2>
            <span class="underline center"></span>
            <p class="lead"></p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="/">Home</a></li>
                <li>Berita</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->

<!-- Start: Products Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="booksmedia-detail-main">
                <div class="container">
                    <div class="row">
                    </div>
                    <div class="booksmedia-detail-box">
                            <div class="detailed-box">
                                <div class="col-xs-12 col-sm-5 col-md-3">
                                    <div class="post-thumbnail">

                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-6">

                                    <div class="post-center-content">
                                        <h2>Perpustakaan PCR Berikan Special Gift Untuk Mahasiswa</h2>
                                        <p><strong>nama publisher:</strong> Dept Pusat Komputer & Sistem informasi - PCR</p>
                                        <p><strong> Bahasa Note:</strong> Indonesia </p>
                                        <p><strong>tanggal publish:</strong> 11/01/2017</p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <center><img src="/images/berita1.jpg"></center>
                        <p>Perpustakaan Politeknik Caltex Riau memberikan Special Gift berupa Voucher Gramedia senilai Rp 100.000,- kepada

                                5 orang mahasiswa yang paling aktif di Perpustakaan. Voucher tersebut nantinya dapat digunakan di Gramedia mana saja sepanjang tahun 2017.

                                Ketua UPT Perpustakaan dan Laboratorium Bahasa PCR, Indah Lestari menyampaikan bahwa Indikator untuk mendapatkan Voucher tersebut berdasarkan dari data peminjaman buku terbanyak sepanjang tahun 2016. “Diharapkan dengan adanya  Special Gift berupa Voucher, dapat membawa manfaat dan dapat mendorong semangat belajar bagi para Mahasiswa,” ujarnya.

                            Berikut adalah 5 orang mahasiswa yang beruntung mendapatkan Voucher Gramedia:</p><br/>
                        <table>
                            <thead>
                            <th>
                                No
                            </th>
                            <th>
                                Nama Mahasiswa
                            </th>
                            <th>
                                NIM
                            </th>
                            </thead>
                            <tbody>
                            <tr><td>1</td><td>Bangun Simanjuntak</td><td>1420301013</td></tr>
                            <tr><td>2</td><td>Siti Erlina Qoryah</td><td>1557301075</td></tr>
                            <tr><td>3</td><td>Monica Tannusa</td><td>1462401036</td></tr>
                            <tr><td>4</td><td>Dedy Syaputra</td><td>1355301020</td></tr>
                            <tr><td>5</td><td>Elka Mariani Siahaan</td><td>1355301023</td></tr>
                            </tbody>
                        </table>
                        <div class="table-tabs" id="responsiveTabs">
                            <div class="tab-content">
                                <div id="sectionB" class="tab-pane fade in">
                                    <h5>Lorem Ipsum Dolor</h5>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                </div>
                                <div id="sectionC" class="tab-pane fade in">
                                    <h5>Lorem Ipsum Dolor</h5>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                </div>
                                <div id="sectionD" class="tab-pane fade in">
                                    <h5>Lorem Ipsum Dolor</h5>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                </div>
                                <div id="sectionE" class="tab-pane fade in">
                                    <h5>Lorem Ipsum Dolor</h5>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                </div>
                                <div id="sectionF" class="tab-pane fade in">
                                    <h5>Lorem Ipsum Dolor</h5>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- End: Products Section -->
