<!-- Start: Page Banner -->
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>Modul</h2>
            <span class="underline center"></span>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="/">Home</a></li>
                <li>Books & Media</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->

<!-- Start: Book & Media Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="books-media-list">
                <div class="container">
                    <div class="row">
                        <!-- Start: Search Section -->
                        <section class="search-filters">
                            <div class="container">
                                <div class="filter-box">
                                    <h3>What are you looking for at the library?</h3>
                                    <form action="http://libraria.demo.presstigers.com/index.html" method="get">
                                        <div class="col-md-5 col-sm-6">
                                            <div class="form-group">
                                                <label class="sr-only" for="keywords">Search by Keyword</label>
                                                <input class="form-control" placeholder="Search by Keyword" id="keywords" name="keywords" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                        </div>
                                        <div class="col-md-5 col-sm-6">
                                            <div class="form-group">
                                                <select name="category" id="category" class="form-control">
                                                    <option>All Categories</option>
                                                    {{#each kategori}}
                                                        <option>{{this.kategori_modul}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-6">
                                            <div class="form-group">
                                                <input class="form-control" type="submit" value="Search">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                        <!-- End: Search Section -->
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-md-push-3">
                            <div class="books-list">
                                <article>
                                    <div class="single-book-box">
                                        <div class="post-thumbnail">
                                            <div class="book-list-icon yellow-icon"></div>
                                            <a href="books-media-detail-v1.html"><img alt="Book" src="/images/books-media/list-view/default-image.jpg" /></a>                                                                 </div>
                                                <div class="post-detail">
                                                    <header class="entry-header">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <h3 class="entry-title">
                                                                    <a href="#">Sistem Pemantauan Kondisi Kesehatan Ibu Hamil Menggunakan Algoritma K-Nearest Neighbor (Studi Kasus: UPT. Puskesmas Bengkalis Kec. Bengkalis)</a>
                                                                </h3>
                                                                <ul>
                                                                    <li><strong>Author:</strong> Aulya Virginia Assaphira  </li>

                                                                    <li><strong>ISBN:</strong>tidak tersedia</li>

                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <ul>
                                                                    <li><strong>Edition:</strong> 1 </li>
                                                                    <li><strong>Seri:</strong> 1 </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </header>
                                            <div class="entry-content">
                                            </div>
                                            <footer class="entry-footer">
                                                <a class="btn btn-dark-gray" href="https://opac.lib.pcr.ac.id/index.php?p=show_detail&id=10131">Read more</a>
                                            </footer>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </article>
                                <article>
                                    <div class="single-book-box">
                                        <div class="post-thumbnail">
                                            <div class="book-list-icon yellow-icon"></div>
                                            <a href="books-media-detail-v1.html"><img alt="Book" src="/images/books-media/list-view/default-image.jpg" /></a>                                                                 </div>
                                        <div class="post-detail">
                                            <header class="entry-header">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <h3 class="entry-title">
                                                            <a href="#">Penerapan Tax Planning PPh 21 Dalam Upaya Mengefesiensikan Beban Park Perusahaan (Studi Kasus Pada Pt Kurnia Berkah Nusantara)</a>
                                                        </h3>
                                                        <ul>
                                                            <li><strong>Author:</strong> Diego Putra Nesya  </li>

                                                            <li><strong>ISBN:</strong>tidak tersedia</li>

                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <ul>
                                                            <li><strong>Edition:</strong> 1 </li>
                                                            <li><strong>Seri:</strong> 1 </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </header>
                                            <div class="entry-content">
                                            </div>
                                            <footer class="entry-footer">
                                                <a class="btn btn-dark-gray" href="https://opac.lib.pcr.ac.id/index.php?p=show_detail&id=10644">Read more</a>
                                            </footer>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </article>
                                <article>
                                    <div class="single-book-box">
                                        <div class="post-thumbnail">
                                            <div class="book-list-icon yellow-icon"></div>
                                            <a href="books-media-detail-v1.html"><img alt="Book" src="/images/books-media/list-view/default-image.jpg" /></a>                                                                 </div>
                                        <div class="post-detail">
                                            <header class="entry-header">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <h3 class="entry-title">
                                                            <a href="#">Sistem Informasi Penjualan Dan Pengendalian Persediaan Dengan Klarifikasi ABC Toko Kreatif Jaya</a>
                                                        </h3>
                                                        <ul>
                                                            <li><strong>Author:</strong> Adelia Hawari  </li>

                                                            <li><strong>ISBN:</strong>tidak tersedia</li>

                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <ul>
                                                            <li><strong>Edition:</strong> 1 </li>
                                                            <li><strong>Seri:</strong> 1 </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </header>
                                            <div class="entry-content">
                                            </div>
                                            <footer class="entry-footer">
                                                <a class="btn btn-dark-gray" href="https://opac.lib.pcr.ac.id/index.php?p=show_detail&id=9817">Read more</a>
                                            </footer>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </article>
                                <article>
                                    <div class="single-book-box">
                                        <div class="post-thumbnail">
                                            <div class="book-list-icon yellow-icon"></div>
                                            <a href="books-media-detail-v1.html"><img alt="Book" src="/images/books-media/list-view/default-image.jpg" /></a>                                                                 </div>
                                        <div class="post-detail">
                                            <header class="entry-header">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <h3 class="entry-title">
                                                            <a href="#">Seleksi Penerimaan Beasiswa BidikMisi Dengan Menggunakan Metode Naive Bayes</a>
                                                        </h3>
                                                        <ul>
                                                            <li><strong>Author:</strong>Ferdinando Ginting</li>

                                                            <li><strong>ISBN:</strong>tidak tersedia</li>

                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <ul>
                                                            <li><strong>Edition:</strong> 1 </li>
                                                            <li><strong>Seri:</strong> 1 </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </header>
                                            <div class="entry-content">
                                            </div>
                                            <footer class="entry-footer">
                                                <a class="btn btn-dark-gray" href="https://opac.lib.pcr.ac.id/index.php?p=show_detail&id=9140">Read more</a>
                                            </footer>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </article>
                            </div>
                            <nav class="navigation pagination text-center">
                                <h2 class="screen-reader-text">Posts navigation</h2>
                                <div class="nav-links">
                                    <a class="prev page-numbers" href="#."><i class="fa fa-long-arrow-left"></i> Previous</a>
                                    <a class="page-numbers current" href="#.">1</a>
                                    <!--<span class="page-numbers">2</span>
                                    <a class="page-numbers" href="#.">3</a>
                                    <a class="page-numbers" href="#.">4</a>-->
                                    <a class="next page-numbers" href="#.">Next <i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </nav>
                        </div>
                        <div class="col-md-3 col-md-pull-9">
                            <aside id="secondary" class="sidebar widget-area" data-accordion-group>
                                <div class="widget widget_related_search open" data-accordion>
                                    <h4 class="widget-title" data-control>Pencarian Cepat</h4>
                                    <div data-content>
                                        <div data-accordion>
                                            <h5 class="widget-sub-title" data-control>kategori</h5>
                                            <div class="widget_categories" data-content>
                                                <ul>
                                                    <li><a href="/TA_search/PA TI">PA TI<span>(2)</span></a></li>
                                                    <li><a href="/TA_search/PA Akutansi">PA Akuntansi<span>(1)</span></a></li>
                                                    <li><a href="/TA_search/PA SI">PA SI<span>(1)</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>